/* Inserta tu código aqui */
*{
	padding: 0px;
	margin:0px;
}
.pagina{
	padding: 0px;
}
.container{
	padding:0px;
	margin:0 auto;
}
.titulo{
	background: #929292;
	color: white;
	font-size:16px;
	padding: 3px 5px;
	width: 50%;
	margin-bottom: 15px;
}
.titulo_parrafo{
 	font-weight:bold;
	font-size: 14px;
    margin-bottom: 0px;

}
.subtitulo{
	font-weight: bold;
	font-size: 12px;
}
.ave{
	font-weight: bold;
	font-size: 12px;
}
.fecha{
	padding: 10px 10px;
    width: 77px;
    height: 69px;
    background: #AAAAAA;
    text-align: center;
    font-weight: bold;

}
/* empezamos con los estilos:*/
.menu{
	display: flex;
}
.menu .site{
	margin-right: 85px;
	font-size: 36px;
}
.menu ul{
	padding:15px 0px;
	list-style: none;
	display: flex;
}
.menu ul li a{
	text-decoration: none;
	color: black;
	margin-right: 15px;
}
.menu ul li input{
	margin: 0px 10px;
	border:1px solid black;
    padding: 0px 12px;
}
.menu ul li input:nth-child(4){
	border-radius: 12%;
	padding: 0px 6px;
}
.menu .col-sm-8{
	padding-left: 300px;
}
.menu>.col-sm-8 ul>li:nth-child(3){
	border-left: 2px solid black;
}

.menu2{
	padding: 20px 0px 0px 0px;
	background:#D6D6D6;
	margin-bottom: 15px;
	width: 100%;
}
.men li{
	padding:0px 15px 10px 15px;

}
.men li a{
	text-decoration: none;
	color: black;
}
.menu2 .men{
	display: flex;
	margin-bottom: 0px;
    margin-left: 10px;
}
.men li:hover{
	background-color: white;
	list-style: none;
}


p{
	margin-bottom: 0px;
}




.nono{
	padding-left: 15px;
}

.fil_A_1 div, .fil_A_2 div, .fil_A_3 div{
	display: flex;
}

.fil_B_2 .cuatro{
	display: flex;
}

.fil_B_2 .dentro{
	margin-left: 10px;
}

.vide{
	text-align: center;
}

.etiqueta{
	display: flex;
}

.etiqueta ul .link_sect{
	display: flex;
}


ul{
	list-style: none;
}
ul li a{
	text-decoration: none;
	color: black;
}


.fil_B_1{
	background: #D6D6D6;
}

.fil_C_2 , .fil_C_3{
	background: #EBEBEB;
}
.fil_C_1 ul{
	list-style: none;
}
.fil_C_1 ul li a{
	text-decoration: none;
	color: black;

}








footer .rayita{
	width: 100%;
    height: 9px;
    background: black;
    margin-bottom: 19px;
}
footer ul{
	list-style: none;
}
footer ul li a{
	text-decoration: none;
	color: black;
}